# Xcode 用户数据和临时文件夹
GameServer/GameServer.xcodeproj/xcuserdata/
*.xcuserdatad
GameServer/GameServer.xcodeproj/xcuserdata/pinky.xcuserdatad/xcschemes/xcschememanagement.plist
# 也可以更泛一些：
*.xcuserstate
*.xcscmblueprint
*.xcworkspacedata

*.xcuserdatad
xcuserdata/
GameServer/.DS_Store
.DS_Store

GameServer/build_xcode/*
GameServer/build_mac/*
GameServer/build_linux/*
.vscode/